<template>
    <div class="px-10 md:px-1">
        <img src="/img/logo.svg" class="logo"/>
        <h1 class="title">URL Generator</h1>

        <div v-show="shorten_url === null">
            <validation-observer v-slot="{handleSubmit}" ref="observer">
                <form @submit.prevent="handleSubmit(requestShortenURL)">
                    <validation-provider rules="required|url" v-slot="{ errors }">
                        <input name="url" class="bionic-field" placeholder="Enter your URL"
                               v-model="original_url"/>
                        <span class="bionic-error" v-if="errors[0]">{{ errors[0] }}</span>
                    </validation-provider>

                    <input class="bionic-btn"
                           type="submit"
                           value="Generate URL"/>
                </form>
            </validation-observer>
        </div>

        <div v-if="shorten_url">
            <div class="results">
                <p>Shorten URL: {{shorten_url}}</p>
                <p>Will Redirect To: {{original_url}}</p>
            </div>


            <button class="bionic-btn"
                    @click="resetURL">
                Create another URL
            </button>
        </div>
    </div>
</template>

<script>
    import urlShortener from "../assets/js/urlShortener";
    import {required} from 'vee-validate/dist/rules';
    import {extend} from 'vee-validate';

    extend('required', {
        ...required,
        message: 'You must provide a URL'
    });

    extend('url', value => {
        let regex_rule = new RegExp("^((https?|ftp|smtp):\\/\\/)?(www.)?[a-z0-9]+\\.[a-z]+(\\/[a-zA-Z0-9#]+\\/?)*$");

        if (regex_rule.test(value)) return true;

        return 'Please supply as valid website URL';
    });

    export default {
        name: 'URLShortener',
        template: 'url-shortener',

        data: () => {
            return {
                original_url: null,
                shorten_url: null,
                errors: []
            }
        },

        methods: {
            resetURL() {
                this.original_url = null;

                this.shorten_url = null;

                this.$refs.observer.reset();
            },

            async requestShortenURL() {
                const isValid = await this.$refs.observer.validate();

                if (!isValid) return;

                urlShortener.shortenURL(this.original_url).then((response) => {
                    if (response.success) this.shorten_url = response.url;
                }).catch((error) => {
                    console.log('Error: ', error)
                })
            }
        }
    }
</script>
