<template>
  <div id="app" class="container mx-auto">
    <url-shortener />
  </div>
</template>

<script>
import UrlShortener from './components/UrlShortener.vue'

export default {
  name: 'App',
  components: {
    UrlShortener
  }
}
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>

