body {
  background-color: grey;
}

.logo {
  @apply mx-auto mb-4;
}

.title {
  @apply text-center mb-4 text-4xl text-white;
}

.results {
  @apply text-2xl md:text-4xl text-white bg-blue-600 py-5 px-5;
  p{
    @apply py-3;
  }
}

.bionic-btn {
  @apply py-4 px-4 mt-4 text-lg  bg-green-500 rounded-2xl text-white hover:bg-green-600;
}

.bionic-field {
  width: 100%;
  @apply py-4 px-4 text-lg rounded;
}

.bionic-error {
  display: block;
  @apply py-1 mt-1 text-lg text-white bg-red-400;
}